<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<div class="container">

  <h4><b>Editors</b></h4>
  <h5><b>Honorary Editor-in-Chief</b></h5>
  <p>
    Prof. Ognian Nakov (Bulgaria)
    <br>Prof. Dimitar Dimitrov (Bulgaria)
  </p>
  <h5><b>Editor-in-Chief</b></h5>
  <p>
    Prof. Milena Lazarova, PhD – Computer Engineering track
    <br>Prof. Veska Georgieva, PhD (Bulgaria)- Communications Engineering track
  </p>
  <h5><b>Editorial and Scientific Board</b></h5>
  <p>
    Prof. Kamen Filyov (Bulgaria)
    <br>Prof. Lidiya Yordanova (Bulgaria)
    <br>Prof. Marin Hristov (Bulgaria)
    <br>Prof. Nina Sinyagina (Bulgaria)
    <br>Prof. Rumen Arnaudov (Bulgaria)
    <br>Prof. Vladimir Pulkov (Bulgaria)
    <br>Prof. Petar Antonov (Bulgaria)
    <br>Prof. Hristo Hristov (Bulgaria)
    <br>Prof. Boyan Bonchev (Bulgaria)
    <br>Prof. Stoyan Bonev (Bulgaria)
    <br>Assoc. Prof. Adelina Alexieva-Petrova (Bulgaria)
    <br>Assoc. Prof. A. Tasheva (Bulgaria)
    <br>Assoc. Prof. Veska Gancheva (Bulgaria)
    <br>Assoc. Prof. Milen Petrov (Bulgaria)
    <br>Prof. Anna Friesel (Denmark)
    <br>Prof. Baki Koyuncu (Turkey)
    <br>Prof. Betim Cico (Albania)
    <br>Prof. Georg Paul (Germany)
    <br>Prof. Hubert Roth (Germany)
    <br>Prof. Miglena Dontschewa (Austria)
    <br>Prof. Nuno Escudeiro (Portugal)
    <br>Prof. Sofoklis Christoforidis (Greece)
    <br>Prof. Tunga Gungor (Turkey)
    <br>Prof. Vassilios Chatzis (Greece)
  </p>
  <h5><b>Scientific secretary:</b></h5>
  <p>
    Computer Engineering track:
    <br>Assoc. Prof. Iva Nikolova
    <br>Assoc. Prof. Georgi Zapryanov, Communications Engineering track:
  </p>
  <h5><b>Copy editor:</b></h5>
  <p>
  </p>
</div>
<app-footer></app-footer>