<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>

<div class="col-lg-12">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User</th>
        <th scope="col">Created</th>
        <th scope="col">Modified</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr *ngIf="user.role.name != 'Admin'">
        <th scope="row" style="width: 25%">
          <span class="label label-default">{{user.email}}</span>
        </th>
        <td style="width: 20%">
          <span class="label label-default">{{user.createdDate}}</span>
        </td>
        <td style="width: 20%">
          <span class="label label-default">{{user.lastModifiedDate}}</span>
        </td>
        <td style="width: 10%">
          <span class="label label-default">{{user.role.name}}</span>
        </td>
        <td style="width: 25%">
          <button type="submit" (click)="changeRoleButton(user)" class="btn btn-outline-primary btn-sm">
            {{user.role.name == 'editor' ? 'Make normal user' : 'Make Editor'}}
          </button>
          <!-- <button type="submit" class="btn btn-outline-danger btn-sm pull-right">
            Delete
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>

</div>
<app-footer></app-footer>