#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 0;
}

#myFooter {
  background-color: #182c39;
  color: white;
  padding-top: 20px;
}

#map-container {
  height: 240px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

#myFooter .row {
  margin: 0 85px;
}

#myFooter .footer-copyright {
  background-color: #10222e;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter .container {
  width: auto;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

#myFooter .fa {
  font-size: 30px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #182c39;
  border-radius: 51%;
  padding: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 31px;
  text-decoration: none;
  transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
  color: #2b55ff;
}

#myFooter .fa-facebook:focus {
  color: #2b55ff;
}

#myFooter .fa-google-plus:hover {
  color: red;
}

#myFooter .fa-google-plus:focus {
  color: red;
}

#myFooter .fa-twitter:hover {
  color: #00aced;
}

#myFooter .fa-twitter:focus {
  color: #00aced;
}

@media screen and (max-width: 767px) {
  #myFooter {
      text-align: center;
  }
  #myFooter .row {
      margin: 0;
  }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

.content{
 flex: 1 0 auto;
 -webkit-flex: 1 0 auto;
 min-height: 200px;
}

#myFooter{
 flex: 0 0 auto;
 -webkit-flex: 0 0 auto;
}