<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<hr>
<div id="footer" class="page-footer font-small blue pt-4">

  <div class="col-md-2 col-lg-3">
    <h6 class="text-uppercase font-weight-bold">Contact</h6>
    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
    <br>Sofia 1797, bul. “Kl. Ohridski” 8
    <br>computer_engineering@tu-sofia.bg

  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://tu-sofia.bg/"> tu-sofia.bg</a>
  </div>
  <!-- <iframe id="map-container" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPu9L0gRPyOiwMpIKUaLcwn5LlfMctAEs&q=umjcGippmC">
  </iframe> -->

</div>