.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.article-feeImage{
    height: 120px;
    width: 222px;
    object-fit: unset;
  }