<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<div class="container">
    <h3>Add new article</h3>
    <p>In order to accept your article it is mandatory to pay (see "Publication Fees").</p>
    <p>Please, upload picture showing the payment.</p>
    <div>
        <input type="file" class="form-control-file" id="feeImage" name="feeImage" #fileUpload [(ngModel)]="feeImage"
            (change)="imageFileChange(fileUpload.files)" accept="image/jpeg, image/png">
        <i>Upload file in PDF or jpg format.</i>
        <hr>
        <P>Upload article file.</P>
        <input type="file" class="form-control-file" id="articleFile" name="articleFile"
            (change)="fileChange($event.target.files)" accept=".pdf">
        <i>Upload file in PDF format.</i>
    </div>
    <br>
    <p *ngIf="errorMessage !== undefined" class="input-error text-danger">{{ errorMessage }}</p>

    <div class="form-btn-block">
        <button type="submit" class="btn btn-primary"
            (click)="saveArticle()">Add</button>
    </div>
</div>
<app-footer></app-footer>