<div class="main-nav-section" [ngClass]="styleClass">
  <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a class="pointer-hover" href="{{logoHref}}">
      <img src="assets/img/logo.jpg">
    </a>

    <div class="navbar-collapse justify-content-end" id="navbarCollapse">
      <a class="pointer-hover" *ngIf="i18nService.language === 'en'" (click)="changeLanguage('bg')">
        <img src="assets/countries/bulgaria.png" alt="img"></a>
      <a class="pointer-hover" *ngIf="i18nService.language === 'bg'" (click)="changeLanguage('en')">
        <img src="assets/countries/united-kingdom.png" alt="img"></a>

      <ul class="navbar-nav">
        <li class="nav-item dropdown" *ngFor="let menuItem of menuItems">
          <a class="nav-link" href="{{ menuItem.href }}" *ngIf="!menuItem.expandable && !login">
            <span><strong>{{ menuItem.key }}</strong></span>
          </a>
          <a class="nav-link dropdown-toggle" *ngIf="menuItem.expandable" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span><strong>{{ menuItem.key }}</strong></span>
          </a>
          <ul class="dropdown-menu" *ngIf="menuItem.expandable">
            <li *ngFor="let submenuItem of menuItem.children">
              <!-- <a *ngIf="submenuItem.href != 'logout'"> -->
              <a class="dropdown-item" href="{{ submenuItem.href }}">
                <strong>{{ submenuItem.key }}</strong>
              </a>
              <!-- </a> -->
              <!-- <a *ngIf="submenuItem.href == 'logout'">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="submenuItem.href">{{ submenuItem.key }}</a>
              </a> -->
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main-menu">
    <h4>THE COMPUTER JOURNAL</h4>
  </div>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Issues</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Issues
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div *ngFor="let bulletin of bulletins">
                    <a class="dropdown-item" href="issue/{{bulletin.id}}">{{bulletin.editionYear}}</a>
    
                  </div>
              </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="editors">Editors <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Submit
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="formatting-guidelines">Formatting guidelines</a>
              <a class="dropdown-item" href="review-policy">Review policy</a>
              <a class="dropdown-item" href="publication-fees">Publication Fees</a>
              <a class="dropdown-item" href="publication-ethics">Publication ethics</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Formatting guidelines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Review policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publication Fees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publication ethics</a>
          </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
  </div>
</div>