<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="about-title clearfix">
          <h4>About <span>US</span></h4>
          <h4>«Computer & Communications Engineering»</h4>
          <p class="about-paddingB">
            The Faculty of Computer Science and Technologies and Faculty of Telecommunications,
            Technical University in Sofia invites you to appear in the scientific periodical journal!
          </p>
          <p>The journal publishes articles on computer and communication sciences.
            It is published in English.
            The frequency of the issue – 1 (one) issue every six months.
            Articles passed into the number 1(XX)/20XX will be accepted until
            28 May 20XX.
          </p>
          <p>
            The journal is intended for students, undergraduates, advanced and postdoctoral students,
            young professionals, lecturers, and academic researchers from different countries.
          </p>
          <ul>
            <h4>Main Headings of the Journal</h4>
            <li>Control Structures and Microprogramming</li>
            <li>Arithmetic and Logic Structures</li>
            <li>Computer systems organization</li>
            <li>Software Engineering</li>
            <li>Programming Techniques and Languages</li>
            <li>Data Structures and Data Storage Representations</li>
            <li>Theory of computation</li>
            <li>Information systems</li>
            <li>Security and privacy</li>
            <li>Human-centered computing</li>
            <li>Computing methodologies</li>
            <li>Applied computing</li>
          </ul>

        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="about-img">
          <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>