<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<div class="container">

  <h4>Publication ethics and publication malpractice statement</h4>
  <p class="about-paddingB">
    The publication of an article in the peer-reviewed journal “Computer & Communications Engineering”
    contributes to growth of knowledge. We encourage the best standards of publication ethics and take
    all possible measures against publication malpractices. It is important to agree upon standards of
    proper ethical behavior for all parties involved in the act of publishing: authors, editors,
    peer reviewers and the publisher. The Faculty of Computer Science and Technologies and Faculty of
    Telecommunications, Technical University in Sofia, as publishers of the journal
    “Computer & Communications Engineering”, take their duties of guardianship over all stages of
    publishing extremely seriously and we recognize our ethical and other responsibilities.
  </p>
  <h5><b>DUTIES OF AUTHORS</b></h5>
  <h6><b>Reporting standards</b></h6>
  <p>
    Authors may be asked to provide the raw data in connection with a paper for editorial review,
    and should be prepared to provide public access to such data (consistent with the ALPSP-STM
    Statement on Data and Databases), if practicable, and should in any event be prepared to retain
    such data for a reasonable time after publication.
  </p>
  <h6><b>Data access and retention</b></h6>
  <p>
    Authors of papers should present an accurate account of the work performed as well as an objective d
    iscussion of its significance. Underlying data should be represented accurately in the paper.
    A paper should contain sufficient detail and references to permit others to replicate the work.
    Fraudulent or knowingly inaccurate statements constitute unethical behavior and are unacceptable.
    Review and professional publication articles should also be accurate and objective, and editorial
    „opinion‟ works should be clearly identified as such.
  </p>
  <h6><b>Originality and plagiarism</b></h6>
  <p>
    The authors should ensure that they have written entirely original works, and if the authors have
    used the work and/or words of others, which this has been appropriately cited or quoted.
    Plagiarism takes many forms, from „passing off“ another’s paper as the author’s own paper, to
    copying or paraphrasing substantial parts of another’s paper (without attribution), to claiming
    results from research conducted by others. Plagiarism in all its forms constitutes unethical
    publishing behavior and is unacceptable.

  </p>
  <h6><b>Multiple, redundant or concurrent publication</b></h6>
  <p>
      An author should not in general publish manuscripts describing essentially the same research in 
      more than one journal or primary publication. Submitting the same manuscript to more than one 
      journal concurrently constitutes unethical publishing behavior and is unacceptable. In general, 
      an author should not submit for consideration in another journal a previously published paper. 
      Publication of some kinds of articles (e.g. clinical guidelines, translations) in more than one 
      journal is sometimes justifiable, provided certain conditions are met. The authors and editors 
      of the journals concerned must agree to the secondary publication, which must reflect the same 
      data and interpretation of the primary document. The primary reference must be cited in the 
      secondary publication.
  </p>
  <h6><b>Acknowledgement of sources</b></h6>
  <p>
      Proper acknowledgment of the work of others must always be given. Authors should cite publications 
      that have been influential in determining the nature of the reported work. Information obtained 
      privately, as in conversation, correspondence, or discussion with third parties, must not be used 
      or reported without explicit, written permission from the source. Information obtained in 
      the course of confidential services, such as refereeing manuscripts or grant applications, 
      must not be used without the explicit written permission of the author of the work involved in 
      these services.
  </p>
  <h6><b>Authorship of the paper</b></h6>
  <p>
      Authorship should be limited to those who have made a significant contribution to the conception, 
      design, execution, or interpretation of the reported study. All those who have made significant 
      contributions should be listed as co-authors. Where there are others who have participated in 
      certain substantive aspects of the research project, they should be acknowledged or listed as 
      contributors. The corresponding author should ensure that all appropriate co-authors and no 
      inappropriate co-authors are included on the paper, and that all co-authors have seen and approved 
      the final version of the paper and have agreed to its submission for publication.
  </p>
  <h6><b>Disclosure and conflicts of interest</b></h6>
  <p>
      All authors should disclose in their manuscript any financial or other substantive conflict of 
      interest that might be construed to influence the results or interpretation of their manuscript. 
      All sources of financial support for the project should be disclosed. Examples of potential 
      conflicts of interest which should be disclosed include employment, consultancies, stock ownership, 
      honoraria, paid expert testimony, patent applications/registrations, and grants or other funding. 
      Potential conflicts of interest should be disclosed at the earliest stage possible.
  </p>
  <h6><b>Fundamental errors in published works</b></h6>
  <p>
      When an author discovers a significant error or inaccuracy in his/her own published work, 
      it is the author‟s obligation to promptly notify the journal editor or publisher and cooperate 
      with the editor to retract or correct the paper. If the editor or the publisher learns from a 
      third party that a published work contains a significant error, it is the obligation of the 
      author to promptly retract or correct the paper or provide evidence to the editor of the correctness 
      of the original paper.
  </p>
  <h5><b>DUTIES OF EDITORS</b></h5>
  <h6><b>Publication decisions</b></h6>
  <p>
      The editor of a peer-reviewed journal „ Computer & Communications Engineering„ is responsible 
      for deciding which of the articles submitted to the journal should be published, often working 
      in conjunction with the relevant society (for society-owned or sponsored journals). 
      The validation of the work in question and its importance to researchers and readers must 
      always drive such decisions. The editor may be guided by the policies of the journal's editorial 
      board and constrained by such legal requirements as shall then be in force regarding libel, 
      copyright infringement and plagiarism. The editor may confer with other editors or reviewers 
      (or society officers) in making this decision.
  </p>
  <h6><b>Fair play</b></h6>
  <p>
      An editor should evaluate manuscripts for their intellectual content without regard to race, 
      gender, sexual orientation, religious belief, ethnic origin, citizenship, or political philosophy 
      of the authors.
  </p>
  <h6><b>Confidentiality</b></h6>
  <p>
      The editor and any editorial staff must not disclose any information about a submitted 
      manuscript to anyone other than the corresponding author, reviewers, potential reviewers, 
      other editorial advisers, and the publisher, as appropriate.
  </p>
  <h6><b>Disclosure and conflicts of interest</b></h6>
  <p>
      Unpublished materials disclosed in a submitted manuscript must not be used in an editor's 
      own research without the express written consent of the author. Privileged information or 
      ideas obtained through peer review must be kept confidential and not used for personal advantage. 
      Editors should recuse themselves (i.e. should ask a co-editor, associate editor or other member 
      of the editorial board instead to review and consider) from considering manuscripts in which they 
      have conflicts of interest resulting from competitive, collaborative, or other relationships or 
      connections with any of the authors, companies, or (possibly) institutions connected to the papers. 
      Editors should require all contributors to disclose relevant competing interests and publish 
      corrections if competing interests are revealed after publication. If needed, other appropriate 
      action should be taken, such as the publication of a retraction or expression of concern.
  </p>
  <h6><b>Involvement and cooperation in investigations</b></h6>
  <p>
      An editor should take reasonably responsive measures when ethical complaints have been presented 
      concerning a submitted manuscript or published paper, in conjunction with the publisher (or society). 
      Such measures will generally include contacting the author of the manuscript or paper and giving due 
      consideration of the respective complaint or claims made, but may also include further communications 
      to the relevant institutions and research bodies, and if the complaint is upheld, the publication of 
      a correction, retraction, expression of concern, or other note, as may be relevant. Every reported act 
      of unethical publishing behavior must be looked into, even if it is discovered years after publication.
  </p>
  <h5><b>DUTIES OF REVIEWERS</b></h5>
  <h6><b>Contribution to editorial decisions</b></h6>
  <p>
      Peer review assists the editor of „ Computer & Communications Engineering„ journal in making 
      editorial decisions and through the editorial communications with the author may also assist 
      the author in improving the paper. Peer review is an essential component of formal scholarly 
      communication, and lies at the heart of the scientific method. 
      „Computer & Communications Engineering„ journal shares the view of many that all scholars who 
      wish to contribute to publications have an obligation to do a fair share of reviewing.
  </p>
  <h6><b>Promptness</b></h6>
  <p>
      Any selected referee who feels unqualified to review the research reported in a manuscript 
      or knows that its prompt review will be impossible should notify the editor and excuse himself 
      from the review process.
  </p>
  <h6><b>Confidentiality</b></h6>
  <p>
      Any manuscripts received for review must be treated as confidential documents. 
      They must not be shown to or discussed with others except as authorized by the editor.
  </p>
  <h6><b>Standards of objectivity</b></h6>
  <p>
      Reviews should be conducted objectively. Personal criticism of the author is inappropriate. 
      Referees should express their views clearly with supporting arguments.
  </p>
  <h6><b>Acknowledgement of sources</b></h6>
  <p>
      Reviewers should identify relevant published work that has not been cited by the authors. 
      Any statement that an observation, derivation, or argument had been previously reported 
      should be accompanied by the relevant citation. A reviewer should also call to the editor's 
      attention any substantial similarity or overlap between the manuscript under consideration and 
      any other published paper of which they have personal knowledge.
  </p>
  <h6><b>Disclosure and conflict of interest</b></h6>
  <p>
      Unpublished materials disclosed in a submitted manuscript must not be used in a reviewer’s own 
      research without the express written consent of the author. Privileged information or ideas 
      obtained through peer review must be kept confidential and not used for personal advantage. 
      Reviewers should not consider manuscripts in which they have conflicts of interest resulting 
      from competitive, collaborative, or other relationships or connections with any of the authors, 
      companies, or institutions connected to the papers.
  </p>
</div>
<app-footer></app-footer>