<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>

<div class="main-wrap">
  <div class="user-form-block" *ngIf="emailEntryView">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-12">
          <div class="registration-form-block">
            <div class="registration-form-title">
              <h4>{{ messages.header }}</h4>
            </div>
            <div class="form-block">
              <form class="form-common" #emailForm="ngForm">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="{{ messages.inputPlaceholder }}" [(ngModel)]="email" [email]="true"
                  name="email">
                </div>
                <p *ngIf="invalidEmailError" class="input-error">{{ messages.invalieEmail }}</p>
                <p *ngIf="emailSendError" class="input-error">{{ messages.somethingWrong }}</p>
                <p *ngIf="emailSent" class="input-success">{{ messages.success }}</p>
                <div class="form-group">
                  <div class="form-btn-block">
                    <button type="submit" class="form-btn" (click)="sendResetEmail(emailForm)">{{ messages.recover }}</button>
                  </div>
                </div>
              </form>
              <div class="signin-others-option-block">
                <h5>{{ messages.remembered }}
                  <a href="/login">{{ messages.signIn }}</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-form-block" *ngIf="user !== undefined">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-12">
          <div class="registration-form-block">
            <div class="registration-form-title">
              <h4>{{ messages.header2 }}</h4>
            </div>
            <div class="form-block">
              <form class="form-common">
                <div class="form-group">
                  <input type="password" class="form-control" id="newPassword" placeholder="{{ messages.newPasswordPlaceholder }}" [(ngModel)]="newPassword"
                    name="newPassword">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="newPasswordAgain" placeholder="{{ messages.newPasswordAgainPlaceholder }}" [(ngModel)]="newPasswordAgain"
                    name="newPasswordAgain">
                </div>
                <p *ngIf="newPasswordsMissmatch" class="input-error">{{ messages.passwordMissmatch }}</p>
                <div class="form-group">
                  <div class="form-btn-block">
                    <button type="submit" class="form-btn" (click)="resetPassword()">{{ messages.change }}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>