<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<div class="col-lg-12">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Article name</th>
				<th scope="col" style="text-align: center;">Reviews</th>
				<th scope="col" style="text-align: center;">Edit</th>
				<th scope="col" style="text-align: center;">Actions</th>
				<th scope="col" style="text-align: right;">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody *ngFor="let article of articles; let i = index">
			<tr>
				<th scope="row" style="width: 47%">
					<h6>{{article.title}}</h6>
					<i>{{article.authors}}</i>
				</th>
				<td style="width: 6%; text-align: center;">
					<span class="label label-default">{{articleReviews[i]}}</span>
				</td>
				<td style="width: 14%">
					<div>
						<button type="submit" class="btn btn-outline-primary btn-sm"
							(click)="downloadArticle(article.id)">
							{{modifiedArticles[i] == false ? 'Download Article' : 'Download Updated Article'}}
						</button>
					</div>
					<br>
					<div *ngIf="reviewsForCurrentUser[i] == false">
						<input type="file" class="form-control-file" id="articleFile" name="articleFile"
							(change)="fileChange($event.target.files)" accept=".pdf">
					</div>
					<div *ngIf="reviewsForCurrentUser[i] == false">
						<button type="submit" class="btn btn-outline-primary btn-sm" (click)="saveReview(article.id)">
							Upload Review
						</button>
					</div>
				</td>
				<td style="width: 18%">
					<button type="submit" [disabled]="clicked" class="btn btn-outline-success btn-sm" *ngIf="rejectedArticles[i] == false"
						(click)="accept(article); clicked = true;">
						{{acceptedArticles[i] == true ? 'Accepted' : 'Accept'}}
					</button>
					<button type="submit" [disabled]="clicked" class="btn btn-outline-danger btn-sm pull-right"
						*ngIf="acceptedArticles[i] == false" (click)="reject(article); clicked = true;">
						{{rejectedArticles[i] == true ? 'Rejected' : 'Reject'}}
					</button>
				</td>
				<td style="width: 15%; text-align: right;">
					{{reviewsForCurrentUser[i] == true ? 'Review was sent' : ''}}
					{{acceptedArticles[i] == true ? 'Accepted article' : ''}}
					{{rejectedArticles[i] == true ? 'Rejected article' : ''}}
				</td>
			</tr>
		</tbody>
	</table>

</div>

<app-footer></app-footer>