<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>

<div class="col-lg-6 offset-lg-3 col-md-12">
  <div class="registration-form-block">
    <div class="registration-form-title">
      <h4>{{ messages.login}}</h4>
    </div>
    <div class="form-block">
      <form class="form-common" #registerForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" id="userName" placeholder="{{ messages.emailPlaceholder }}" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="{{ messages.passwordPlaceholder }}" [(ngModel)]="password" name="password">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="forgot-link-block">
              <a href="/forgotten-password" class="forgot-link orange-hover">{{ messages.forgottenPassword }}</a>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p *ngIf="errorLogin === true" class="input-error">{{ messages.wrongCredentials }}</p>
          <div class="form-btn-block">
            <button type="submit" class="form-btn" (click)="authenticate()">{{ messages.login }}</button>
          </div>
        </div>

        <div class="signin-others-option-block">
          <h5>{{ messages.notAMember }}
            <a href="/signup">{{ messages.signUp }}</a>
          </h5>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>