<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<hr>
<div class="center">
  <div *ngIf="curBulletin == undefined">
    <h3>Create bulletin</h3>
  </div>
  <p> Today : {{curDate | date:'dd-MM-yyyy'}}</p>
  <p>Current bulletin : <b>FROM</b> {{curFrom}} <b>TO</b> {{curTo}}</p>
  <div class="col-lg-6 offset-lg-3 col-md-12">
    <form >
        <!-- *ngIf="curBulletin == undefined" > -->
      <div class="col-6"></div>
      <label>Start date</label>
      <input class="form-control" type="date" id="startDate" name="startDate" [(ngModel)]="startDate">
      <label>End date</label>
      <input class="form-control" type="date" id="endDate" name="endDate" [(ngModel)]="endDate">
      <label>ISSN</label>
      <input class="form-control" type="string" id="issn" name="issn" [(ngModel)]="issn">
      <br>
      <button type="submit" (click)="createBulletin()">Create bulletin</button>
    </form>
  </div>
</div>
<!--  -->
<div class="center">
  <br>
  <h3>Approved articles</h3>
</div>
<div class="col-lg-12" *ngIf=" articles !== undefined && reviewsFetched === articles.length">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Article name</th>
        <th scope="col" style="text-align: center;">Editor 1</th>
        <th scope="col" style="text-align: center;">Editor 2</th>
        <th scope="col" style="text-align: center;">Download</th>
        <th scope="col" style="text-align: center;">FeeImage</th>
        <th scope="col" style="text-align: center;">Choose for current bulletin</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let article of articles; let i = index">
      <tr *ngIf="this.articlesReviews.get(article.id)[0] !== undefined && this.articlesReviews.get(article.id)[1] !== undefined
       && this.articlesReviews.get(article.id)[0].accepted == true && this.articlesReviews.get(article.id)[1].accepted == true">
        <th scope="row" style="width: 30%">
          <h6>{{article.title}}</h6>

          <i>{{article.authors}}</i>
        </th>
        <td style="width: 5%">
          <div
            *ngIf="articlesReviews.get(article.id).length > 0 &&  articlesReviews.get(article.id)[0].accepted == true">
            <button class="btn-green">
              <i class="fa fa-check"></i>
            </button>
          </div>

        </td>
        <td style="width: 5%">
          <div
            *ngIf="articlesReviews.get(article.id).length == 2 &&  articlesReviews.get(article.id)[1].accepted == true">
            <button class="btn-green">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </td>
        <td style="width: 20%">
          <div class="center">
            <button type="submit" class="btn btn-outline-primary btn-sm" (click)="downloadArticle(article.id)">
              Download Article
            </button>

          </div>
        </td>
        <td style="width: 20%">
          <div class="center" *ngIf="article.feeImage">
            <button type="submit" class="btn btn-outline-primary btn-sm" (click)="downloadFeeImage(article.id)">
              Download Fee Image
            </button>

          </div>
        </td>
        <td style="width: 20%">
          <div class="center">
            {{this.article.bulletin != null ? 'Added' : ''}}
            <div *ngIf="this.article.bulletin == null">
              <button type="submit" class="btn btn-outline-success btn-sm" (click)="addToCurrentBulletin(article)">
                Add
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<hr>
  <div class="center">
    <button type="submit" class="btn btn-outline-primary btn-sm" (click)="generateBulletin()">
      Generate Bulletin
    </button>
  </div>
</div>
<app-footer></app-footer>