.btn-green {
    color: rgb(11, 207, 11);
  }
  
  .btn-red {
    color: rgb(240, 6, 6);
  }
  
  .accepted {
    color: rgb(11, 207, 11);
  }
  
  .rejected {
    color: rgb(240, 6, 6);
  }

  .center {
    text-align: center;

  }