<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<hr>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Bulletin info</h5>
        <div class="card-body">
          <img class="card-img-top"
            src="assets/img/cover/start.jpg"
            alt="Card image cap">
          <hr>
          <b>Volume</b> {{bulletin.vol}}
          <br>
          <b>Edition</b> {{bulletin.editionYear}}
          <br>
          <b>Date</b> {{bulletin.startDate}}
          <br>
          <b>ISSN</b> {{bulletin.issn}}
        </div>
      </div>

    </div>
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h4 class="my-4">Volume {{bulletin.vol}}, Date {{bulletin.startDate}}
      </h4>
      <h5 class="my-4">Articles
      </h5>
      <hr>
      <!-- Blog Post -->
      {{articles.size}}
      <div *ngFor="let article of articles;let i = index">
        <div class="card mb-4">
          <br>
          <div class="card-body">
            <h4 class="card-title">{{article.title}}</h4>
            <h5 class="card-title"><i>{{article.authors}}</i></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
              nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus
              possimus, veniam magni quis!</p>
            <div class="expandCollapse">
              <button (click)="toggle(i)">
                Abstract
              </button>
            </div>
            <div class="expandCollapseContent" *ngIf="hideRuleContent[i]">
              {{article.abstractText}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>