<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<div class="container">

  <h4>Formatting guidelines</h4>
  <p class="about-paddingB">
    All manuscripts submitted for publishing in the journal “Computer & Communications Engineering”
    are expected to be free from language errors and must be written and formatted strictly
    according formatting guidelines.
  </p>
  <h5>Articles are published in English.</h5>
  <embed src="assets/pdf/formatting.pdf" width="800px" height="2100px" />
</div>
<app-footer></app-footer>