<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<div class="container">

  <h4>Review policy</h4>
  <p class="about-paddingB">
      All manuscripts submitted for publishing in the journal “Computer & Communications Engineering” 
      are treated as confidential. They operate a double-blind peer reviewing process. 
      The manuscript should not include authors' names, institutional affiliations, contact information. 
      Also, authors' own works need to be blinded in the references. 
      All submitted manuscripts are reviewed by the editors, and only those meeting 
      the aims and scope of the journal will be sent for outside review. Each manuscript is 
      reviewed by at least two reviewers.
  </p>
  <p>
      The editors are doing their best to reduce the time that elapses between a paper's submission 
      and publication in a regular issue. 
      It is expected that the review and publication processes will be completed 
      in about 2-3 months after submission depending on reviewers' feedback and the editors' 
      final decision. 
      If revisions are requested some changing and corrections then publication time becomes longer. 
      At the end of the review process, accepted papers will be published on the journal’s website.
  </p>
  
</div>
<app-footer></app-footer>