<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<div class="container">

  <h4>Publication fees</h4>
  <h5>To have your paper published, you need to pay publication fee.</h5>
  <p class="about-paddingB">
    Publication fee: <b>120 BGN</b>
  </p>
  <p>
    Payment can be made via bank transfer or at the cash office of the Scientific research
    sector of the Technical University of Sofia.
  </p>
  <h6><b>Invoice details: </b></h6>
  <p>
    bank tranfer - " ТУ – София "– НИС,
    Sofia 1797, bul. “Kl. Ohridski” 8, bl. 1, fl. 3,
    ЕИК 83 191 783 400 12,
    ИН по ДДС BG 83 191 7834
    МОЛ Ivan Kralov
  </p>
  <p>
    <b>Bank account:</b>
    IBAN BG24 BNBG 9661 3100 1038 01
    BIC Код на БНБ – София: BNBGBGSD
  </p>
  <p>
    <b>Contract</b> № 6380 (ayment order / Additional information)
  </p>
  <b>Annual subscription</b> (including postage) 50 BGN

</div>
<app-footer></app-footer>