.clear {
  clear:both;    
}
.btn-info {
  margin-right:15px;
  text-transform:uppercase;
  padding:10px;
  display:block;
  float:left;
}
.btn-info a {
  display:block;
  text-decoration:none;
  width:100%;
  height:100%;
  color:#fff;
}
.more.label {
  float:right;    
}

.btn-green {
  color: rgb(11, 207, 11);
}

.btn-red {
  color: rgb(240, 6, 6);
}

.accepted {
  color: rgb(11, 207, 11);
}

.rejected {
  color: rgb(240, 6, 6);
}