<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>
<hr>
<div class="col-lg-12" *ngIf=" articles !== undefined && reviewsFetched === articles.length">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Article name</th>
				<th scope="col" style="text-align: center;">Editor 1</th>
				<th scope="col" style="text-align: center;">Editor 2</th>
				<th scope="col" style="text-align: center;">Edit</th>
				<th scope="col">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody *ngFor="let article of articles; let i = index">
			<tr>
				<th scope="row" style="width: 40%">

					<h6>{{article.title}}</h6>

					<i>{{article.authors}}</i>
				</th>
				<!-- First edittor -->
				<td style="width: 10%">
					<span class="label label-default"></span>
					<div
						*ngIf="articlesReviews.get(article.id).length > 0 && articlesReviews.get(article.id)[0].reviewFile != null">
						<button type="submit" class="btn btn-outline-primary btn-sm pull-right"
							(click)="downloadReviewFirst(article.id)">
							Download review
						</button>
					</div>
					<div
						*ngIf="articlesReviews.get(article.id).length > 0 &&  articlesReviews.get(article.id)[0].accepted == true">
						<button class="btn-green">
							<i class="fa fa-check"></i>
						</button>
					</div>
					<div
						*ngIf="articlesReviews.get(article.id).length > 0 && articlesReviews.get(article.id)[0].accepted == false">
						<button class="btn-red">
							<i class="fa fa-times"></i>
						</button>

					</div>

					<div *ngIf="articlesReviews.get(article.id).length == 0">
						Reviewing...
					</div>
				</td>
				<!-- Second edittor -->
				<td style="width: 10%">
					<span class="label label-default"></span>
					<div
						*ngIf="articlesReviews.get(article.id).length == 2 && articlesReviews.get(article.id)[1].reviewFile != null">
						<button type="submit" class="btn btn-outline-primary btn-sm pull-right"
							(click)="downloadReviewSecond(article.id)">
							Download review
						</button>
					</div>
					<div
						*ngIf="articlesReviews.get(article.id).length == 2 &&  articlesReviews.get(article.id)[1].accepted == true">
						<button class="btn-green">
							<i class="fa fa-check"></i>
						</button>
					</div>
					<div
						*ngIf="articlesReviews.get(article.id).length == 2 &&  articlesReviews.get(article.id)[1].accepted == false">
						<button class="btn-red">
							<i class="fa fa-times"></i>
						</button>

					</div>
					<div
						*ngIf="articlesReviews.get(article.id).length == 0 || articlesReviews.get(article.id).length == 1 ">
						Reviewing...
					</div>
				</td>
				<td style="width: 20%">
					<div>
						<button type="submit" class="btn btn-outline-primary btn-sm"
							(click)="downloadArticle(article.id)">
							{{modifiedArticles[i] == false ? 'Download Article' : 'Download Updated Article'}}
						</button>

					</div>
					<div *ngIf="articlesReviews.get(article.id).length == 2 && modifiedArticles[i] == false &&
						(articlesReviews.get(article.id)[0].reviewFile != null || 
						articlesReviews.get(article.id)[1].reviewFile != null)">
						<input type="file" class="form-control-file" id="articleFile" name="articleFile"
							(change)="fileChange($event.target.files)" accept=".pdf">

						<button type="submit" class="btn btn-outline-success btn-sm" (click)="updateArticle(article)">
							Upload edited article
						</button>
					</div>
				</td>
				<td style="width: 35%">
					<div *ngIf="articlesReviews.get(article.id).length == 0">
						Article is sent.
					</div>
					<div *ngIf="articlesReviews.get(article.id).length == 1">
						Waiting for second review...
					</div>
					<div *ngIf="articlesReviews.get(article.id).length == 2">
						You can upload editted article.
					</div>
					<div>
						{{modifiedArticles[i] == false ? '' : 'Uploaded editted article.'}}
					</div>
					<div *ngIf="modifiedArticles[i]">
						Waiting for post review.
					</div>
					<!-- <div>
						{{articlesReviews.get(article.id)[0].accepted == true && articlesReviews.get(article.id)[1].accepted == false ? 'Waiting for third edittor to resolve the conflict.' : ''}}
						{{articlesReviews.get(article.id)[0].accepted == false && articlesReviews.get(article.id)[1].accepted == true ? 'Waiting for third edittor to resolve the conflict.' : ''}}
					</div>
					<div class="accepted">
						{{articlesReviews.get(article.id)[0].accepted == true && articlesReviews.get(article.id)[1].accepted == true ? 'Accepted article!' : ''}}
					</div>
					<div class="rejected">
						{{articlesReviews.get(article.id)[0].accepted == false && articlesReviews.get(article.id)[1].accepted == false ? 'Rejected article!' : ''}}
					</div> -->
				</td>
			</tr>
		</tbody>
	</table>

</div>
<app-footer></app-footer>