<app-header [styleClass]="'main-nav-two-section'" [logo]="'assets/img/logo.png'"></app-header>

          <div class="col-lg-6 offset-lg-3 col-md-12">
            <div class="registration-form-block">
              <div class="registration-form-title">
                <h4>{{ messages.signUp}}</h4>
              </div>
              <div class="form-block">
                <form class="form-common" #registerForm="ngForm">
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="{{ messages.namePlaceholder }}" [(ngModel)]="name"
                      name="name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="{{ messages.emailPlaceholder }}" [(ngModel)]="email" [email]="true"
                      name="email" autocomplete="off">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" id="faculty" placeholder="{{ messages.facultyPlaceholder }}" [(ngModel)]="faculty"
                        name="faculty" autocomplete="off">
                        <!-- autocomplete or drop dowon menu with faculties -->
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" id="pgone" placeholder="{{ messages.phonePlaceholder }}" [(ngModel)]="phone"
                        name="phone" autocomplete="off">
                    </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="{{ messages.passwordPlaceholder}}" [(ngModel)]="password"
                      name="password" autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="repeatedPassword" placeholder="{{ messages.passwordAgainPlaceholder }}" [(ngModel)]="repeatedPassword"
                      name="repeatedPassword" autocomplete="off">
                  </div>
  
                  <p *ngIf="errorMessage !== undefined" class="input-error">{{ errorMessage }}</p>
  
                  <div class="form-group">
                    <button type="submit" class="form-btn" (click)="register(registerForm)">{{ messages.signUp }}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
  <app-footer></app-footer>