@import "~bootstrap/dist/css/bootstrap.css";
  .pointer-hover:hover {
    cursor: pointer;
  }

  .navbar{
    background-color: rgb(255, 255, 255)
  }

app-signup .user-form-block {
  min-height: calc(100vh - 63px);
}

.registration-form-title {
  text-align: center;
}

.registration-form-title h4 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.registration-form-block {
  padding: 70px;
  -webkit-box-shadow: 0px 0px 29px -1px rgba(224, 224, 224, 0.63);
  box-shadow: 0px 0px 29px -1px rgba(224, 224, 224, 0.63);
}

button.form-btn {
  width: 100%;
  padding: 10px;
  margin: 25px 0px;
  background-color:  rgb(66, 129, 247);
}

app-signup .form-common .form-btn-block {
  padding-top: 40px;
}